<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add
			 name="ConnectionLocalDb"
			 connectionString="Data Source=(localdb)\MURATOVAOV\SQLEXPRESS;Initial Catalog=ShoeStoreDB;
       Trusted_Connection=True;"
			 providerName="Microsoft.EntityFrameworkCore.SqlServer"/>
  </connectionStrings>
</configuration>